body {
    background-color: silver;
}

.author{
text-decoration: underline;
}

#theblog{
background-color: snow;
}

a[strong]{
text-emphasis-color: green;
}

h2{
text-align: center;
}

a:hover{
    background-color: aqua;
}
